//- ----------------------------------
//- ⚡️ INCLUDES > SOCIAL ICONS
//- ----------------------------------

include _mixins

.o-inline-list
    +a("https://twitter.com/" + profiles.twitter)(aria-label="Twitter")
        +icon("twitter")

    +a("https://github.com/" + profiles.github)(aria-label="GitHub")
        +icon("github")

    +a("https://codepen.io/" + profiles.codepen)(aria-label="Codepen")
        +icon("codepen")

    +a("https://medium.com/@" + profiles.medium)(aria-label="Medium")
        +icon("medium")

    +a("https://www.quora.com/profile/" + profiles.quora)(aria-label="Quora")
        +icon("quora")

    +a("https://instagram.com/" + profiles.instagram)(aria-label="Instagram")
        +icon("instagram")

    +a("https://linkedin.com/in/" + profiles.linkedin)(aria-label="LinkedIn")
        +icon("linkedin")

    +a("https://stackoverflow.com/story/" + profiles.stackoverflow)(aria-label="StackOverflow Developer Story")
        +icon("stackoverflow")

    +a("https://www.google.com/recaptcha/mailhide/d?k=01XKotRh-TzJXD5ew6LZ7BwA==&c=8fy9Z30NH7ukj8omRyZVuw==")(aria-label="Email")
        +icon("email")
