include ../_includes/_mixins

p: em This post is part of a series of music interviews I did back when I was running an indie music website and going to gigs almost every other day. More than six years later, I discovered the texts in an old database backup, translated them to English and started publishing them, mostly for nostalgic reasons.

p Adam Ficek lives two lives. In one, he's on tour with the chaotic indie rock band Babyshambles, in the other he's #[+a("https://rkcmusic.bandcamp.com/music") Roses Kings Castles] and playing mellow acoustic songs in front of only a handful of people. "I'm not the best singer or guitarist." he admits when we meet in a small room back stage at Paradiso, a former church turned music venue in the heart of Amsterdam. "I think the people like it when they're able to say: 'I once saw this guy play the small club at Paradiso!' This is something they'll always remember."

+h(3) Hi Adam, how was the show?
p #[strong Adam:] Very good, I didn't expect anyone to show up at all. It probably wasn't very crowded for the club's standards, but for my standards it definitely was. In the UK I don't have more people coming to my shows either.

+h(3) What's it like being on tour all by yourself?
p I'm a little lonely sometimes but that's just how it is. It's also a question of money. Nobody would pay for me plus a band and also cover travel and accommodation. If I'm on my own, that's possible.

+h(3) Most people probably know you as the drummer of Babyshabmles. Was there anything you learned from your band experience that came in handy for your own project?

p Of course! It's a bit strange to play in Babyshambles and then do my own thing on the side. But I've learned a lot. I'm more present on stage and less nervous. With Babyshambles we always play huge shows. Then again, I can't really hide behind the drums anymore when I perform on my own. It's much harder if you can't hide. And surely I also unconsciously adopted a few things from Peter [Doherty], like the way he interacts with the audience.

+h(3) Did this cause people to have higher expectations?

p No, the people actually had lower expectations, because I'm just the drummer of Babyshambles. If I had done the same thing without that background, I would have practised a lot more and maybe spent a year with preparations and rehearsals. Instead I just have the opportunity to simply do something and reach a wider audience. When I go on stage, I'm like, hey, I might not be the best singer or guitarist, but when you come to my shows, you'll see me grow and make progress. I think the people like it when they're able to say: 'I once saw this guy play the small hall at Paradiso!' This is something they'll always remember. I don't have to pretend to be someone I'm not – I'm okay at singing and okay at playing guitar. If you like my songs, that's great.

p I also don't see myself as a "solo artist". When I play live, I'm just playing acoustic songs. When I think of a solo artist, I think of virtuoso guitarists. I only play chords. Roses Kings Castles is not a solo project – but today it was a solo performance.

+h(3) Who do you have in mind when you're writing your songs?

p I write music for myself. I mean, you can't force anyone to like the stuff you're doing. As a musician, you just can't help making music. Even if I had a regular job, I'd still sit down on weekends and write songs.

+h(3) Does it bother you when people download your songs illegally?
p It doesn't, as long as they give something back. If you download my record off The Pirate Bay because you have no money, that's okay. But then come to my show, buy a 7" single, buy anything. If you don't give anything back, we'll only have mass-produced plastic pop one day, because those will be the only bands that can still afford to make music.

+image("adamficek2.jpg", "Adam Ficek as Roses Kings Castles (left) and with Peter Doherty of Babyshambles in 2005 (right)")

+h(3) You once said in an interview that "Roses Kings Castles" are three words that describe your music...

p Actually, yes, but I don't really like that name anymore. When I started about two years ago and the NME suddenly discovered my music, there was no going back. I mean, I couldn't just change my name again. Maybe I'll change it to "RKC" soon. I like those three words in that order, but "Roses Kings Castles" just sounds too British. I've never wanted to be British, like, hey, ho, The Queen and stuff. Looking at my family tree and my last name, I'm not actually so British, more Ukrainian-Polish and a bit Russian. Sure, I see myself as English. I like England, it's great. And that's what it's about: it's a huge melting pot.

+h(3) You're not only a musician but also a DJ. What makes a good DJ in your opinion?

p I've always enjoyed DJing, ever since I was 15 or 16. I mostly play house and garage. Many DJs practise at home until they're really good and know their set inside out. I prefer to just go with the flow. It doesn't have to be perfect and I don't let beats per minute limit what I play. I like doing electronic sets because you can do more technical things, but sometimes indie music is just more popular. You just have to see what the people want. If you play too many guitar rock songs, you eventually end up with too much testosterone in the room. Then you can play The Ting Tings, La Roux or electro like Hot Chip for example. And once this becomes too much, you throw in some guitars again.

+h(3) How do you feel about the current hype around band DJ sets?

p Well, for me that's great. I do "Babyshambles DJ sets". Sure, what does that really mean? But I'm a good DJ and the name "Babyshambles" just draws more people in. I hope that I'll be able to just DJ under my name at some point in the future. I do a lot of real electro stuff and remixes under a different name. The other day I made a remix for La Roux. I just don't make a big deal out of that. (laughs) But I really do lots of stuff. I remix electro songs, then I pick up my acoustic guitar again, I blog, I babyshamble and I'm always busy. If you wanna make it in the music business, you have to work hard.

+h(3) Where do you see yourself in 10 years?
p I'll be playing electronic music and doing indie sets, Roses Kings Castles will have released the 10th album and Babyshambles... I really don't know, but I hope this will go on as well. You never know, the future is always a bit in the dark.

+h(3) So what are your plans for the nearer future then?
p At the moment, new Babyshambles demos. Then a new roses Kings Castles EP in July [2009], 500 copies that are only available via the mailing list. And five of them contain a little surprise – but I don't know what that's gonna be yet. The new album will come out in October [2009] and the new Babyshambles record in 2010.

+h(3) The European elections [2009] were all over the place. Did you vote?
p Yes, I did.

+h(3) Does politics have a place in music?
p I was actually thinking about this the other day. I was asked if I wanted to be part of the "Featured Artists Coalition", an organisation for musicians that campaigns for more rights in the music industry. I ended up having a pretty big argument with someone because I said I wouldn't join. I saw all those names, Billy Bragg, Kate Nash or the guitarist of Radiohead. They all want their copyright back. And I was like, but you're all millionaires already! You've made it! Aren't you a little greedy? That's why I didn't want to join. I was on the phone with Dave Rowntree, the drummer of Blur, and asked him what the whole thing was about and was actually pretty outspoken. We ended up having a really nice conversation and he finally convinced me to join. After all, the music industry is trying to influence the artists and take away all their rights to their own music.

+h(3) Speaking of protesting for your rights: If you had to choose the cause for a big demonstration, what would it be?
p Better vegetables. It's really hard to find high quality vegetables in supermarkets. For example at Tesco's – they really rule the world!

+divider

p #[strong Update (October 2015):] Naturally, Adam and Roses Kings Castles (or RKC) are still arond and making music. You can listen to it on #[+a("https://rkcmusic.bandcamp.com/album/roses-kings-castles") Bandcamp] and follow on #[+a("https://www.facebook.com/adamficekofficial") Facebook].
