include ../_includes/_mixins

p Today, we launched the website for our new company, #[+a("https://explosion.ai", true) Explosion AI]. Explosion is a digital studio specialising in Artificial Intelligence and Natural Language Processing. We design algorithms, applications and data assets, and develop custom solutions to today's AI problems.

p The past year has been pretty exciting and eventful. Things haven't always been easy, but it feels good to finally be moving forward again.

+image("explosion-ai_website.jpg", false, "Explosion AI website")

+h(2, "the-past") The Past

p It all started when my partner, #[+a("https://twitter.com/honnibal") Matt], asked me to develop a simple website for his newly launched software library, #[+a("https://spacy.io", true) spaCy]. Even though we both shared a passion for programming and linguistics — after all, we'd already spent hours talking about Natural Language Processing the night we met — we had never really thought about working together before. If anything, we found each other's work fairly boring. Still, I agreed to develop a protype for an interactive visualiser, and we quickly realised that there was actually a lot of potential in a collaboration. The project would later become #[+a("https://demos.explosion.ai/displacy") displaCy], one of our most popular tools to date.

p A few times, Matt asked me if I wanted to join his one-man business. I said no. I had just left my executive sales and marketing job of four years to become self-employed. Things were going really well. I had regular clients and a bunch of long-term projects lined up, and was thriving on my newfound creativity that came with being able to work whenever and from wherever I wanted. I enjoyed working on the open source project, but I still had doubts about my abilities as a developer. It would take me another year to realise that #[em hell yes], there was actually a lot for me to contribute.

p So while I went on to focus on freelancing, Matt met Henning, who had experience running tech businesses, and together they made plans to turn spaCy into a successful, venture-backed startup. A few months in, he asked me if I had time to take on a project, as they still hadn't found a suitable front-end developer. At first, everyone involved, including me, was a little skeptical. Programming together for hours and building things in our free time was one thing. But did we really want to take this to a fully professional level? Would our personal relationship be a risk or an advantage? What did "relationship" even mean? How different were we really from two dudes in Silicon Valley who share a small apartment and spend every free minute working on their projects together?

p I first joined the team part-time as an experiment, but my hours were quickly increased as the business plans became more and more concrete. Needless to say, things at spaCy were going great. I developed an entirely new #[+a("https://spacy.io") website], we launched an improved version of the #[+a("https://demos.explosion.ai/displacy") displaCy visualiser] that doubled up as an annotation tool and even landed our first #[+a("https://www.producthunt.com/tech/spacy-io") feature on ProductHunt] with a demo that let people explore semantic word relations on Reddit using #[+a("https://demos.explosion.ai/sense2vec") sense2vec]. We were excited to start working on our first commercial product, for which I was going to take on all front-end development.

p Yet, things were about to take a different turn. In early May this year, Matt and Henning realised that they weren't able to settle their professional differences and decided to part ways. This also meant that venture funding was off the table and I had to stop working immediately. I had just started developing a new React app from scratch and was enjoying every minute of it, but from one day to the other, I just had to stop. It took me a while to realise that things wouldn't just go back to normal. The open source project became unmaintained, the demos were taken offline, and nobody was able to give me any answers about the future of the project.

p As frustrating as it was, it's one of the big risks that come with freelancing for tech startups in their early stages. In fact, #[+a("https://www.quora.com/What-is-the-truth-behind-9-out-of-10-startups-fail") 90% of technology startups fail], almost half of them during their first six months. And along with scaling up too quickly, founder conflicts are a #[+a("http://barnraisersllc.com/2015/09/30-statistics-startups-pitfall-success/") leading cause]. Unfortunately, the first employees and freelancers are often the ones that suffer most. They've been building an entire product from scratch for a promise of a piece of the future cake – but if it fails, they're often lucky to even get paid at all.

p It wasn't easy to overcome the disappointment and the loss of time, money and code, and and instead, make the most of the situation. I'm sure for many people, the first instinct would have been to run far, far away from this mess. But I also knew that this was the field I wanted to keep working in — and if not for this project, then for something else. I immersed myself in my work, and by June, I was finally back to freelancing full-time.

+h(2, "the-present") The Present

p Four months later, we're sitting at the notary's office on the 22nd floor, overlooking the city of Berlin. It's a beautiful day and you can see the golden statue of Victoria peeking out behind the woods of Tiergarten. I sign the paperwork, making me the director and shareholder of my very first company, #[+a("https://explosion.ai") Explosion AI].

p When Matt finally got to take over the spaCy open source project again, working together had inevitably come up again. After having been locked out of the project for months, it was unclear how long it would take to get the library back on track. But despite the frustration, the project itself was still very dear to my heart — after all, I had been working on it ever since its very first release. Seeing the impacts of my work and all the possibilities for #[+a("/blog/how-front-end-can-improve-ai", true) front-end technologies in AI] had really opened my eyes. The more time Matt and I spent reorganising our work and code, planning our brand and strategy, and analysing past mistakes and missed opportunities, the more it became clear that both our different skills and experience would be a perfect match. There was so much to do, and this time, I was ready to go all-in.

p Bootstrapping the company was a very conscious decision. In an industry that prides itself on changing the world, I've always found it irritating how much time is spent on trying to build the ultimate solution for #[em all problems ever], and how little on actually changing things, one step at a time. So many real-life problems can already be solved using today's technology – just not in a boxed one-size-fits-all kinda way that takes two years and substantial venture capital to build. If we want to keep up with the fast pace of the industry, we need to be able to build what people need #[em now], and accept that they will most likely need something completely different in a year's time.

p Custom services on a consultancy basis usually come with trade-offs, though: You spend a lot of time agreeing on a detailed spec and sketching out the deliverables. And if things don't go according to plan, everyone loses. There are so many new AI startups with exciting, ambitious ideas, but the Research and Development risk is huge: Can it really be done? And what if it doesn't work? So our approach here is different. We take on those projects that are easier said than done — including the risk.

+quote("explosion.ai", "https://explosion.ai/blog/introducing-explosion-ai") Commissioning a project from us works a little like commissioning a tattoo. Imagine you want to immortalise your undying love for sloths, so you talk to an artist and come up with a concept. The artist then draws you a design. If it's not something you can use "in production", you don't have to pay. But if you've found the sloth of your dreams, it's yours — forever.

p To read more about how this works in detail, head over to our #[+a("https://explosion.ai/blog/introducing-explosion-ai", true) website].

+h(2, "the-future") The Future

p No illusions — running a company is going to be hard work. But my work is also my greatest hobby. Being self-employed and working remotely has made me more productive than I'd ever been. It's also taught me a lot of things that have ultimately made me so much more confident in taking this step. I was able field-test my ideas, figure out what works best and develop a clear concept of what's important to me in a business.

p I'm excited about this new direction, taking on challenging projects, releasing new #[+a("https://demos.explosion.ai") demos] and #[+a("https://github.com/explosion") open source tools], taking #[+a("https://spacy.io") spaCy] to the next level and sharing more of my work along the way.

p I'm also looking forward to hearing what you think – let's talk #[a(href="https://twitter.com/" + profiles.twitter) on Twitter]!

p.o-inline-list
    +button("https://explosion.ai", true) explosion.ai
    +button("https://github.com/explosion") #[+icon("github", 20)] GitHub
    +button("https://twitter.com/explosion_ai") #[+icon("twitter", 20)] Twitter
