include ../_includes/_mixins

p My parents had one true passion: reading. I remember being a child, scouring through their hughe bookshelves and secretly taking books back to my room. One of them was #[em "Wir Kinder vom Bahnhof Zoo"], the story of Christiane F., who became addicted to heroin as a teenager. The book was illustrated with authentic photos and even though I didn't know what "taking drugs" really meant or what Berlin looked liked, I was fascinated by the story and binge-read the book several times. Now Christiane Felscherinow has published her autobiography about her "second life" – the life after Bahnhof Zoo. For #[+a("http://www.exberliner.com") Exberliner] she answered #[+a("http://www.waltercrasshole.com") Walter]'s and my questions.
