include ../_includes/_mixins

p Chart-topping tech-rap monoliths Deichkind have a string of hits amassed over a nearly 20-year career and regularly pack stadiums. But while every German under 50 knows who they are, they’re hardly recognised outside of the German-speaking world – even among expats here in Berlin. Earlier this year, #[+a("http://www.waltercrasshole.com") Walter] and I met the band for #[+a("http://www.exberliner.com") Exberliner] and we talked about career ambitions, getting older, the digital generation and German music fans.
