include ../_includes/_mixins

p With new offerings from Google, Microsoft and others, there are now a range of excellent cloud APIs for syntactic dependencies. A key part of these services is the interactive demo, where you enter a sentence and see the resulting annotation. Over at #[+a(readmore) Explosion AI], we're pleased to announce the release of displaCy.js, a  modern and service-independent visualisation library.
