include ../_includes/_mixins

p Earlier this summer, I interviewed Farin Urlaub (funnily enough, one of my early teenage idols), for #[+a("http://www.exberliner.com") Exberliner]. If you're not German, you might know him as the singer/guitarist of punk rock giants Die Ärzte. But he’s also a successful solo artist and has been a consistent personality in German music since the 1980s. At 51, he’s looking back on a three-decade-long career.

p Starting out as a small punk band in West Berlin in 1982, Die Ärzte went from Kreuzberg squats to big stadium stages. In 2002, Farin Urlaub founded his solo band, Farin Urlaub Racing Team (FURT). Faszination Weltraum (fascination space), their fourth studio album, was released this past autumn on Urlaub’s own Völker Hört Die Tonträger label, and continues to show his penchant for solid rock and slick, humourous German lyrics.
