include ../_includes/_mixins

p Eines Abends, nach ein paar Gläsern Gasovka Apfelsaft in #[+a("http://www.waltercrasshole.com") Walters] Küche, fiel uns eine alte Ausgabe der Cosmopolitan in die Hände. Ich hatte mich vorher noch nie intensiver mit Frauenmagazinen beschäftigt, nicht einmal im Wartezimmer beim Arzt. Er noch weniger. Er fing an, vorzulesen und ich filmte mit. Bei jedem neuen Absatz und jedem neuen Tipp rollten sich meine Fußnägel ein kleines Stück weiter hoch. #[em Was für ein Schund.] Nicht, dass das etwas neues wäre – aber in unserer kleinen Blase, in der Gender lediglich ein Konstrukt und traditionelle Geschlechterrollen längst überholt und antiquiert sind, vergessen wir leicht, wie prägend besagter Schund nach wie vor für die Gesellschaft ist. Und wie lustig die Texte über Orgasmusgarantie, Zyklus-Sex und platonische Freundschaften sind, wenn man sie einmal vorgelesen bekommt.

+image("gaymenreading_photos.jpg", "Walter, Michael, Levi und Tommy lesen Cosmopolitan")

p So entstand #[+a("https://gaymenreading.tumblr.com") Gay Men Reading German Cosmopolitan], ein kleines Spaßprojekt über die Absurditäten deutscher Frauenmagazine – gelesen von schwulen Männern.
