include ../_includes/_mixins

p Minimalism is incredibly trendy right now and has been for a while. Its aesthetic interpretations flood Tumblr and Instagram and it's almost painful to look at. Like, yeah, I get it, I should only own all-white designer pieces and do as little as possible to not amass clutter in any way. But of course, real life is quite different.

p Pretty early on in my life I'd already realised that owning less and having my life set up in a way that just #[em worked] made me feel a lot better. Still, I was mostly chasing an unattainable lifestyle and tried to morph myself into that ideal person who was never lazy and always active and motivated. Deep down I knew that this was unrealistic, but I believed that this was the only way I could achieve that perfect, minimalist life. I was wrong. No matter how many things I got rid of, my life still felt like a huge, cluttered mess. It took me a while to realise that I could only make my life more mindful and minimalist if I acutally optimised it for the #[em lazy me].

+h(2) What is minimalism?

p When you first start reading about minimalism, it can be pretty confusing. Examples of minimalist lifestyles range from self-sufficient hippies in caravans to rich white people in #[+a("http://www.trendir.com/house-design/two-small-lofts-inside-a-loft.html") sparsely furnished lofts]. And on top of that, there's always talk of getting rid of stuff and "clutter".

p My first experiments with minimalism were all based on a common misconception: I thought that it meant having as little stuff as possible and essentially denying yourself any kind of convenience because convenience naturally comes with clutter, right? #[strong Wrong.] It's absolutely possible to "have nice things". Actually, removing unnecessary friction and inconvenience from your life can be a huge part of moving to a more mindful and minimalist lifestyle. To start off, here's a modern definition from #[+a("http://into-mind.com") Into Mind], one of my favourite blogs on everyday life minimalism:

+quote("Into Mind, Minimalism: A Beginner's Guide", "http://into-mind.com/2014/10/27/minimalism-a-beginners-guide/") The key idea of minimalism is this: Remove what isn’t adding value to your life, to make room for stuff that is. [...] So essentially, minimalism is about figuring out which things, people and activities are important to you and which aren’t. [...] Minimalism is a way to go back to making conscious choices and living with intention, rather than letting it all just kind of pile up or allowing others to dictate how we spend our time.

p To phrase it differently: Minimalism is #[strong not] the Tumblr illusion of effortlessly beautiful girls dressed in all-white who sit on spotless beds, drink tea and read expensive fashion magazines (see: #[+a("http://thefinancialdiet.com/the-minimalist-pixie-dream-girl-who-she-is-and-why-i-hate-her/") The Minimalist Pixie Dream Girl: Who She Is And Why I Hate Her]). There is no universal recipe for a minimalist life, it's all about finding out what works best for you.

+h(2) Embracing your inner sloth: Why laziness is great

p My inner sloth rules my life and I used to hate it. It would tell me when to get up (as late as possible), when to get important stuff done (never) and whether I could be bothered doing annoying housework (no). I tried to shut it down by making my own plans, but needless to say, it never worked. It wasn't until I started to work #[em with] my inner sloth instead of against it, that things began to change. I realised that if I actually listened to my inner sloth more carefully, it was doing a pretty good job at showing me which parts of my life needed improvement because they sucked.

p Whenever we make plans to optimise our lives, we tend to optimise for an ideal, future version of ourselves. That version who always gets stuff done on time, is never lazy and always perfectly organised. That's why it's always really exciting to make these plans: We only ever think about that ideal version of ourselves, instead of looking at who we really are (because this can be frustrating and pretty boring). We keep convincing ourselves that it only takes one very specific improvement to finally bring out that ideal version of ourselves. For example:

+quote Once I have X, I will always do Y!

p This never works. Of course adapting a more mindful and minimalist lifestyle requires changing some of our bad habits. This is vital to the process. There are countless books you can read on the topic of improving yourself, forming habits and "becoming a better person", but most of them assume that good and bad habits are universal. Some things are simply part of our personalities and as long as they are not immediately harmful (like, only ever eating fast food), it's perfectly okay to optimise around them. There's a high chance that you will never be that perfect person who gets up at 5am, goes to the gym every day, only eats healthy Instagram-worthy meals and always does their laundry on time. And that's fine.

p Productivity does not mean doing more, it means doing things more efficiently. Laziness is not a bad habit that needs to be eliminated at all cost – it's actually a pretty great quality. There's this famous quote which is often (#[+a("http://quoteinvestigator.com/2014/02/26/lazy-job/") falsely]?) attributed to Bill Gates – but in the end, it doesn't really matter who said it.

+quote I will always choose a lazy person to do a difficult job because a lazy person will find an easy way to do it.

p Being lazy and thus opting for the most efficient, convenient and sloth-friendly solution removes the unpleasant time-wasters from your life and lets you focus on the things that are actually important to you. Here you go, that's minimalism right there.

+image("minimalism_sloth.jpg", false, "Venn diagram of perfect self outside of reality, and inner sloth within reality")

+h(2) Removing friction and frustration (while spending less)

p When I moved into a new apartment last year, I made an important decision: I was going to optimize it for my inner sloth. For example, no matter how well I'll set up my desk, I will always spend a significant amount of time working from bed. So why not make my bed more convenient and comfortable to work from? No matter how organised and productive I am, I will always procrastinate on doing my laundry because I #[em hate] hanging it up to dry. So why not invest slightly more and get a washing machine that doubles as a dryer? No matter how good I feel about my health, I will always delay grocery shopping until the last minute and then order takeaway because there's no food in the house. So why not buy huge quantities of healthy staples in bulk so that I only have to go to the supermarket for the fresh ingredients?

p What I'm saying is, it's not about simply #[em buying more stuff]. Looking at it from that perspective quickly makes you end up in the "If only I had X..." pattern again. Instead, try looking at items and their value in the context of your life. Often, investing a little more in an item that's #[em great] instead of just #[em good enough] makes a huge difference and will save you a lot of money in the long run.

p Shopping for clothes is a good example: I used to buy a lot of cheap stuff on a whim, like 25-euro shoes. They weren't really what I was looking for, but hey, they were only 25 euros and pretty nice. After a few months, they'd either break or turn out to be impractical and I'd replace them with a new 25-euro pair. Over the course of a year, I'd easily spend over 200 euros on mediocre shoes and never even owned more than one pair at the same time. This was a common pattern in my life. I'd buy cheap rings (that I would wear twice before they changed colour and started leaving green marks on my fingers), pretty notebooks (who am I kidding, I spend all day on my computer and only ever make digital notes) and a bunch of lipsticks (I never wear lipstick, it's inconvenient and makes my lips look weird).

+image("minimalism_staples.jpg", false, "Diagram: special items and basics & staples")

+h(2) Shopping with intent: the uniform

p I spent a lot of time thinking about the concept of a "signature look". It sounds so glamorous but also a little boring: So I need to come up with this look and then wear the same stuff all the time? It took me a while to realise that, well, I was kind of doing that anyways, just differently. The goal is not to force yourself into some pre-defined pattern that you came up with after browsing Pinterest for a few hours – it's to understand what you want and need and how to make the most of it.

p I don't particularly like going shopping and whenever I did, it was always disappointing. Every time I saw clothes that I liked, I'd suddenly have this very vivid scene in my head. Me, wearing that dress at that one party next month or that pair of sunglasses in the park with friends in summer, feeling all good and happy... #[strong STOP]. First, I don't even fucking go to parks in summer. I hate summer and this pair of sunglasses certainly won't change that. Second, I don't actually want to buy that particular item because it serves a general purpose, I want to buy an arbitrary feeling that I just happened to associate with this item. In 99% of the cases, this feeling never came.

p Before I started planning my uniform, I made a mental list of the stuff I actually wear: a pair of sweatpants, 20den tights and socks, loose shorts, loose t-shirt-style dresses made from thin fabrics, tight high-waisted jeans with leather belts, t-shirts with loose sleeves, a cardigan, a leather jacket, platform boots and delicate silver jewellery. Those are the things that I like to wear at home, when I'm out and about running errands, at work meetings and to a bar or a club. I kept adding examples to my "style moodboard" folder that I keep on #[+a(url + "/blog/switching-to-desktop-apps") Pixave] and the result looked something like this:

+image("minimalism_moodboard.jpg", false, "Moodboard of minimalist outfits and items")

p For the first time in years, I went out to buy clothes with an actual shopping list. And for the first time in years, I finally have "something to wear" every time I open my closet.

+h(2) Decluttering your digital life

p I heavily live online and it's easy to underestimate the clutter that comes with it: hundreds of gigabytes worth of files and data, profiles on about every social media site and a never-ending stream of news and updates. Moving the important parts of my daily work to #[+a(url + "/blog/switching-to-deskop-apps") desktop apps] and thus out of my browser definitely made a huge difference. Here are a few other lessons I've learned while decluttering my digital life:

+list
    +item #[strong Automate everything.] After all, that's what computers are for, right? For example, use #[+a("https://www.dropbox.com/") Dropbox] to back up your files automatically. Use a #[+a("https://zapier.com/blog/best-note-taking-apps/") note-taking app] to keep all your notes and snippets in sync and in one place, instead of scattered across your computer in random files. Write your own shell scripts to #[+a(url + "/blog/the-ultimate-guide-static-websites-jekyll") build and upload your blog]. Build an #[+a("http://imcool.online/robokitty/") automated cat feeding station] for under $100. You get the idea.

    +item #[strong Use an RSS reader to bundle your reading.] I've been using RSS ever since I can remember and it's doing an amazing job at helping me focus. Instead of constantly refreshing all kinds of sites, I just go through my feed reader once a day. #[+a("https://feedly.com/") Feedly] is great (combine it with #[+a("https://itunes.apple.com/de/app/leaf-rss-news-reader/id576338668?mt=12") Leaf] for a desktop solution). If you mostly read fashion and lifestyle blogs, #[+a("https://www.bloglovin.com/") Bloglovin] might be a better platform for you. If you prefer a curated reading experience with recommendations, check out #[+a("https://flipboard.com/") Flipboard].

    +item #[strong Clear out your social media.] Deleting people from Facebook sucks because after all, they're your friends, right? Well, chances are most of them are just some random people you once met at a party years ago. #[+a("http://www.pewresearch.org/fact-tank/2014/02/03/6-new-facts-about-facebook/") Half of all adult Facebook users] have more than 200 friends, 15% even count more than 500. We spend so much time scrolling through people's updates and barely get anything out of it. Cutting down your friends list to the people you actually know and care about will make time to focus on #[em them] instead of random people you certainly won't miss.

    +item #[strong Choose your (instant) messengers.] It's easy to get caught up in iMessages, SMS, WhatsApp and Facebook messages, Twitter DMs, Slack, email... the list goes on. After clearing out my feeds and social media, I decided on two main communication channels: iMessages/SMS for personal conversation and Slack/email for work. It's okay not to be available everywhere at all times.

    +item #[strong Re-evaluate who you follow – and why.] Once you've subscribed to a blog or followed someone on Instagram, they become a part of your life. You'll keep seeing their content pretty much daily and it will influence you in one way or another. Take some time and look at who you follow. What do you get out of their content? How does it make you feel? Would you miss it if it was gone? Or, to put it simply: #[+a("http://www.getbullish.com/2010/12/bullish-maybe-work-life-balance-means-you-should-work-more/") #[em "If it isn’t extremely productive or extremely pleasurable, just stop."]]

+h(2) Links & Resources

+list
    +item #[+a("http://into-mind.com/2014/10/27/minimalism-a-beginners-guide/") Minimalism: A Beginner&apos;s Guide] (Into Mind)
    +item #[+a("http://into-mind.com/2013/11/22/signature-looks-the-complete-guide-part-i/") Developing a Signature Look: The Complete Guide] (Into Mind)
    +item #[+a("http://into-mind.com/2015/02/20/social-media-minimalism-3-step-detox-incl-worksheet/") Social Media Minimalism: 3-Step Detox] (Into Mind)
    +item #[+a("http://love-aesthetics.nl/3-ways-to-minimize-finding-the-essentials/") 3 Ways to Minimize: Finding the Essentials] (Love Aesthetics)
    +item #[+a("http://www.getbullish.com/2013/05/bullish-life-6-ways-to-spring-clean-your-life-without-actually-having-to-clean-things/") 6 Ways to Spring Clean Your Life (Without Actually Having to Clean Things)] (GetBullish)
    +item #[+a("http://www.missminimalist.com/category/real-life-minimalists/") Real Life Minimalists] (Miss Minimalist)
