include ../_includes/_mixins

p: em This post is part of a series of music interviews I did back when I was running an indie music website and going to gigs almost every other day. More than six years later, I discovered the texts in an old database backup, translated them to English and started publishing them, mostly for nostalgic reasons.

p The name says it all. #[+a("https://holyholyfuckfuck.tumblr.com") Holy Fuck] are from Canada and play music on everything they can get their hands on. Their concerts are wild parties and massive jam sessions at the same time. I met Graham Walsh, one of the guys behind the keyboards and mixers.

+h(3) I know you probably hate those questions about your band name, but people seem to be really crazy about that name. What was the craziest thing that ever happened to your because of it?

p #[strong Graham:] Believe it or not, there aren't even that many stories. It did happen that we weren't allowed to play because of our name. They took us off the bill last-minute. Like, "What? They're called #[em Holy Fuck]? They can't play here!" (laughs) That was in London. We have this kind of love-rate-relationship with that city. Actually, we always play really good shows there and the people like us. But then we were supposed to play at Trafalgar Square, which is pretty big, and the mayor saw the lineup and didn't allow us to play. I guess he didn't like swear words.

+h(3) Do you have a favourite swear word?

p I only know English swear words and a Frensh one: "merde". Oh, and of course "scheiße"! But my favourite one really is "fuck". It's a great word and has a big spectrum: sometimes it's harsh, sometimes it's soft and sometimes it's just beautiful and vulgar at the same time.

+h(3) How do you guys write your songs? I've heard that you never rehearse...

p Oh, that's maybe a bit exaggerated. But it'S true, we don't really practice the way other bands do it. We're on tour a lot and don't live in the same city so we've found other ways. We're actually on the road so much and play so many gigs, that we're pretty experienced and just know how to play the songs. New songs just evolve over time – someone starts with an idea and the others contribute theirs. Like a beautiful flower that's growing and growing and finally blossoms. It just happens, we don't have a songwriter to tell the other's what to do.

+h(3) You're using a lot of unusual instruments, like toy keyboards and film projectors. Are there any other items that you'd love to make music on?

p Oh man, everything that makes cool and interesting sounds. There's this computer system for hair salons that analyses your hair and tells you if they're too dry or too frizzy. When you turn it on, it makes really cool sounds, like beeping and distorted effects. We wanted to use it in the beginning, when we started experimenting with different things. But it would have been way too big and awkward to take on stage.

+h(3) On stage you play everything live and barely use any samples...

p There was definitely a concept behind this, but we also just had to do this out of necessity. We just used the tools that were available back then. We didn't have any samplers, synthesizers or the right computer equipment. Instead, we just used keyboards and lo-fi toys.

+h(3) What's it like on tour with you guys? Are you a tidy and organised band?

p Yeah, I guess. Sure, if you're travelling a lot, you can't always do your laundry and sometimes have to wear dirty clothes. But we're definitely not a shabby hippie punk band! We get along well and it just works. But I know other bands that have to lay down a lot more rules. Friends of mine have this rule, "No food on stage" and I was like... no food on stage? Why on earth do you eat on stage? (laughs)

+h(3) Do you have any favourite live moments?

p Oh yes, definitely. We played the Primavera Sound festival in Spain and were playing at five in the morning on the big stage. The sun just came up and during the last song ther was a stage invasion. I nthe end, ther were around 100 and 150 people on stage. We couldn't really play anymore and our music turned into random noise. That was one of the best moments ever. You can watch the whole thing on YouTube!

+youtube("l2t_J1Z8plQ")

+h(3) Aside from that, any other places you enjoyed playing?

p Too many. I like the West Coast of the US, California is very nice. The Canadian East Coast, too. In Europe we once played in Norway, that was great. Brighton is also nice. And it's hard to say, it really depends on the day and how much time you have. Even if the city sucks, maybe it's a sunny day and we hang out in a park and have the best time of the whole tour. Our the other way around: When I was in Paris for the first time, I didn't see anything of the city. Not even the Eiffel Tower, just a run-down club with a shitty bar, a van and a hotel room. On tour, you're trapped in a big bubble.

+h(3) If you hadn't become a musician, what do you think you'd be doing today?

p It's hard to say, because ever since I was little I was always into music. Before I started the band, I did graphic design and had a job in that field. So I think I'd probably still be a graphic designer. I designed a few things for the band as well, a concert poster here and there and one of our shirts. Most of it was done by my friend James, though. He's an artist and much better than me. (laughs)

+h(3) And our last question that we ask every band: If you had to choose the cause for a big demonstration – what would you protest against?

p I'd love to say something cool and funny but I really can't think of anything. One thing that Canada definitely needs more of is people on bikes. When you come to Europe, like the Netherlands for example, you see so many of them and it's great!
