include ../_includes/_mixins

p: em I've seen a couple of these posts pop up over the past year or so, and I've always enjoyed reading other people's stories. So here's mine.

p We got our first computer in the late 1990s. A guy my dad knew from work was really into computers, still a novelty at the time, and he offered to get us one and set it up. So my parents thought, why not? Looking back, I often think about how my life would have turned out if this hadn't happened. We likely wouldn't have gotten internet until much later, and I would be a very different person now.

p I immediately fell in love with the big grey box that made strange noises. My favourite programs were #[+a("https://en.wikipedia.org/wiki/Creative_Writer") Creative Writer] and #[+a("https://en.wikipedia.org/wiki/Fine_Artist") Fine Artist], essentially the 90s kids versions of InDesign and Photoshop. I spent hours writing, designing and printing my own magazines, and I dreamt about one day becoming a journalist or book author.

+image("coding_fineartist.jpg", "Microsoft Fine Artist, released in 1994")

p About a year in, I discovered Microsoft Word and its ability to create HTML pages. I made my very first website, complete with clip arts and the light blue raindrop background, and uploaded it via our ISP's free web hosting. There it was, live on #[em the internet].

p Around the same time, I started taking part in my small town's youth parliament and signed up for the group that would create its website. I was excited to get involved with local politics, even if it was just voting on which playgrounds to build. It was as close as I could get to being taken seriously and doing "adult stuff". The city had hired a freelancer to supervise the website project, and I quickly learned the basics of Photoshop and #[+a("https://en.wikipedia.org/wiki/Adobe_GoLive") GoLive]. In my free time, I kept working on my own websites about myself and the bands I was into.

+image("coding_golive.jpg")
    +image-caption Adobe GoLive 4.0, released in 1999. Screenshots: #[+a("http://www.staff.uni-mainz.de/wassmer/Golive.htm") Thomas Wassmer]

p When I was around 13, I discovered a whole new scene online. There were lots of young girls and a few boys, just like me, dabbling in web and graphic design. Some of them had very popular blogs and impressive skills, even by today's standards. People often wrongly assume that guys dominated the entire internet at the time, but in this space, creative front-end design was almost entirely run by girls. I looked up to them and eventually signed up for one of the biggest online message boards, which at its height easily counted a thousand members from German-speaking countries.

p The board mainly revolved around web design topics like Photoshop, HTML and CSS, with sub-forums on music, relationships and everything else that was on our teenage minds. I worked up the courage to show my website and got a lot of motivating feedback.

+image("coding_designs.jpg", "Some designs of my old blog, klammerauf.org, from 2006-2009")

p It was common to redesign your site for no particular reason about once a month, so there was always something to do. I quickly ditched WYSIWYG editors and started writing my own code. Inspired by #[+a("http://www.csszengarden.com/") CSS Zen Garden], I became mildly obsessed with web standards and semantic HTML. I also taught myself the very basics of PHP and started using one of the very first versions of WordPress. I still remember how proud I was when I got it all up and running. Together with a friend I launched an online magazine about our favourite indie music. It was the early age of blogging and everything seemed possible. We wrote about albums and concerts, got accreditations to big music festivals and interviewed the bands we liked.

p However, I slowly lost interest in my projects and websites. I felt like I wasn't keeping up fast enough, I wasn't good enough and there were just so many other things that I could be doing. I was close to finishing school and had to think about what I wanted to do with my life.

p I eventually started university at the age of 17, doing a degree of media science and language studies, a hybrid of linguistics, computational linguistics and phonetics. It was disappointing and frustrating. Social media and blogging hadn't entered the mainstream yet, so nobody really wanted to talk about that. I was unhappy with the new German university system, which was heavily bureaucratised and school-like, and didn't live up to my expectations of the "academic life". People say that undergrad studies are all about learning how to work and study independently, but I felt like this had never been a problem for me. I wanted to learn more, I wanted to #[em do things]. Instead, I became a fairly unambitious student who was mainly focused on getting done with it as quickly as possible.

p #[strong "If you ever want to make lots of money, help computers understand language."] a professor once said to us during a lecture. He was one of the few lecturers I still remember fondly, the only one who refused to enforce the new concept of mandatory attendance and preferred oral exams over multiple choice. I forgot about his advice until years later, when I found myself doing exactly that, helping computers understand language, which eventually led to founding my first company, #[+a("https://explosion.ai", true) Explosion AI].

+image("coding_me.jpg", "Me in my flat in Cologne in 2009, trying to figure out what to do with the rest of my life")

p On my last day of university, I left both my part-time jobs at Lush and Deutsche Welle, packed my life into a couple of boxes and moved to Berlin. I didn't care about making money or having a career. I was too wrapped up in the idea of #[+a("/blog/i-fell-for-self-help-so-you-dont-have-to", true) "finding happiness"] and finally being independent. I spent the next four years working in media, doing advertising, sales and marketing. I loved my work, and I #[+a("/blog/5-things-i-learned-from-working-in-print", true) learned a lot], including how to lead a team, coordinate complex projects and partnerships and get stuff done. But web development never really got off my mind. CSS3 had just become widely supported, and I was blown away by all the new possibilities. All those things that we'd created complicated workarounds for as teenagers were suddenly as simple as #[code transform: rotate(45deg)] or #[code box-shadow: 10px 10px 5px #000]. I revived my blog and slowly started keeping up with the latest technologies again.

p Everything changed when I left my job to work remotely as a freelancer. I'd always struggled with staying motivated, and I feared that this would make it worse. But the opposite happened. With a less rigid distinction of work and free time, I became more productive than ever. I had an idea for a web app, and I was working on it day and night for weeks, just because it felt so rewarding to see it all come together. I #[+a("/blog/announcing-explosion-ai#the-past", true) started working with Matt], who had just released #[+a("https://spacy.io", true) spaCy], an open-source library for Natural Language Processing. It turned out to be a perfect fit – I already knew linguistics and everything front-end, and I was steadily getting better at programming. I've never been the type of person to learn things by reading books and following tutorials. I need a goal, a #[+a("https://www.quora.com/What-should-software-product-managers-who-are-new-to-A-I-Machine-Learning-focus-on-Online-courses-are-extremely-technical-Is-that-what-is-needed/answer/Ines-Montani") clear mission], and I'm best at learning new things by just #[em doing them].

+image("ai-frontend_displacy.jpg", "displaCy, an NLP visualiser and the first demo I developed for spaCy")

p Looking back, I think what initially discouraged me from pursuing web development as a career was that just developing websites and web apps didn't feel satisfying enough. Taking my skills and interests to a different, exciting field with so much room for innovation was the missing link.

p You don't have to keep chasing after opportunities to reinvent the wheel. But I believe that working with technology only becomes fully rewarding when you combine all the things you're passionate about, regardless of how compatible they might seem, and find your own unique perspective. In my case, it was programming, front-end, linguistics and marketing. For someone else, it might be programming, typography, journalism and robotics.

+divider

+h(2) Read stories by other developers

+list
    +item #[+a("http://lea.verou.me/2012/05/how-i-got-into-web-development-the-long-version/") How I got into web development — the long version] by Lea Verou
    +item #[+a("https://superyesmore.com/cartoon-dolls-c2bbe6bb982658b3e614716715beda25") From building cartoon dolls to building things for the web] by Una Kravets
    +item #[+a("https://superyesmore.com/and-that-was-it-really-i-knew-what-i-wanted-to-do-i-wanted-to-build-websites-76930dbd2c513442496db9c6bacef8b3") And that was it really, I knew what I wanted to do, I wanted to build websites] by Jake Archibald
    +item #[+a("https://superyesmore.com/an-unforeseen-path-5b4a4379bea14ca6c792a3fe682c9910") An Unforeseen Path. On not choosing Computer Science and becoming a SVG expert] by Sara Soueidan
    +item #[+a("https://superyesmore.com/how-did-i-start-coding-80c1d61509d5d29c9d389417a165f621") From floppy disks and BASIC programs to a full-time career as a web developer] by Jonathan Snook
    +item #[+a("https://superyesmore.com/from-designing-neopets-pages-to-becoming-a-professional-web-developer-d6121b7fe42324e456deb8988d481ec8") From designing Neopets pages to becoming a professional web developer] by Amélie Lamont
    +item #[+a("http://rmurphey.com/blog/2012/03/25/girls-and-computers") Girls and Computers] by Rebecca Murphey
