include ../_includes/_mixins

p In a small team, everyone should be able to contribute content to the website and make use of the full set of visual components, without having to worry about design or write complex HTML. In this post on the #[+a(readmore) spaCy Blog] I'm showing the benefits of a modular markup language and explain our the powerful set of components developed and implemented using #[+a("http://jade-lang.com") Jade] (aka Pug).
