include ../_includes/_mixins

p: em This post is part of a series of music interviews I did back when I was running an indie music website and going to gigs almost every other day. More than six years later, I discovered the texts in an old database backup, translated them to English and started publishing them, mostly for nostalgic reasons.

p Mumford & Sons from London are the indie rock sensation of the year and have just released their critically acclaimed debut album "#[em Sigh No More]". And unless you've been living under a rock, there's absolutely no way you haven't heard the catchy single "#[em Little Lion Man]". "Country" Winston Marshall plays guitar and banjo and answered my questions before their gig in Cologne.

+h(3) Your gigs in Germany are all sold out completely. Did this come as a surprise to you?

p #[strong Winston:] Sure, I mean, we've never been here before and it's our first time in Cologne. It's amazing, but I absolutely don't have an explanation for it. Our tour so far has been great. The clubs fit around 250 to 400 people and the equipment was not always good. So we had a few problems here and there. But we got to see a lot of the cities. In Berlin we went to see Passion Pit and met a few people there. We spent the rest of the night with them, on the rooftops over Berlin. That was amazing. There have been a lot of funny moments, too, but as always, it becomes so much less funny once you actually tell the stories again.

+h(3) You guys have been making music together for over two years now. Was there ever a moment when you realized, hey, this is all getting a little bigger now?

p When we started, we were on fire and really into the whole thing. Marcus [Mumford] brought us together and we just jammed here and there and played songs. Every song we write is for someone else. It's either for ourselves, or for someone we love, or for the people around us. It's always about the people who mean the most to us. Sometimes we tell people that a song is about them, but sometimes it's also pretty obvious and they recognize themsevles. Or not, I don't know.

p In the last two years we slowly got to play in a lot of different places, in England, the UK, Europe, even America. We worked hard and it was all a pretty straightforward process, step by step.

+h(3) Is there anything from that time that especially stuck in your memory?

p We played an amazing tour in the highlands in the north of Scotland. I'd never been so far north before. The people were great and so friendly, and the countryside was beautiful. And of course the traditional music. We played in very small towns, on islands, Stornoway, Isle of Lewis, ... This was one of my favourite moments of the tour. Touring really opens up your horizons and the world gets smaller, but also a lot bigger at the same time.

+h(3) How do you guys get along on tour, are you a clean band?

p We try to shower regularly, but it's not always easy. We just spend too much time on the bus. But yeah, we shower! Some of us more than others. I'm gonna shower today and I'm really excited! (laughs) Socks are very important. Feet always have to smell nice. And underwear. Trousers are not that important, you can wear those for the whole tour and they last forever. But change your shirts daily and make the most of what you have &mdash; because you just don't have much.

+h(3) You mentioned the traditional music of Scotland. You can definitely hear the traditional folk influence in your songs...

p How people see our music always depends on where we go. In Ireland, people are like "Oh, this sounds like American folk!" and then we play in America and people are like "Oh, that's Irish Folk!". And in London people are like "Oh, that sounds like... nothing, actually." (laughs) Oh well, New Folk from New York maybe. Wherever we go, people come up with something else. It's not easy to find the best label for us. We pretty much listen to every genre and type of music there is. Books and films obviously have an influence as well, and life in general. Our music definitely reflects that. I'd probably call it "Folk'n'Roll".

+h(3) Do you still remember the first record you bought?

p I think it was "#[em Backstreet&apos;s Back]" by the Backstreet Boys. I was maybe 10 years old. It's a great album and it has this one song... (sings) "Backstreet's back, alright!" I was a huge fan of the Backstreet Boys.

+h(3) If you hadn't become a musician, what would you be doing now?

p It's hard to think about stuff like that, because I really dedicated my life to music. People often told me that I shouldn't be doing that, but I always fought against that idea. I think we all have more than one passion. I studied art and design and I could imagine doing something in that field as well. And one day I would love to write a book, especially a novel. Hermann Hesse is my favourite author, he's amazing and I've read all of his books.

+h(3) Finally, here's the one question that we ask every band: If you had to choose the cause for a big demonstration – what would you protest against?

p I guess everyone is against paedophilia, so I don't really have to say much about that. On a lighter note, I'd like to demonstrate for Manchester United. Manchester United until I die. That's the best answer I can give to that. (laughs)

+divider

p #[strong Update (June 2016):] Needless to say, Mumford & Sons went on to become one of the most successful indie folk bands of their time. Their performance with Bob Dylan at the 2011 Grammy's contributed to their increasing success in America. They have won numberous awards and released two more albums, "#[em Babel]" (2012) and "#[em Wilder Mind]" (2015), a number one in the UK, the US and Australia.
