include ../_includes/_mixins

mixin post(headline, date)
    .a-post(id=date)

        if headline
            a(href="#" + date).a-post__header
                h2.a-heading-2=headline
                +date(date).a-label

        .a-post__content
            block

mixin post-images
    .a-post__images
        block


header.a-header.o-block
    a(href="/" aria-label="Home")
        !=partial("../_includes/_logo", { size: 125 })

    .a-title
        h1.a-heading-1.
            New#[br]
            York#[br]
            Travel#[br]
            Blog

        .a-label.o-block In early 2015, I left my job and got on a flight to New York City. This is my diary about a month and a half in New York.

        select.a-dropdown(onchange="window.location.href = '#' + this.value")
            option All posts &#9660;

            each post in [ "2015-03-16", "2015-03-15", "2015-03-12", "2015-03-07", "2015-02-27", "2015-02-24", "2015-02-23", "2015-02-16", "2015-02-15", "2015-02-14", "2015-02-10", "2015-02-06", "2015-02-04", "2015-02-01"]
                option(value=post)=post

+post("Coney Island", "2015-03-16")
    p Today was a really beautiful day so I met up with friends and we finally went down to Coney Island.  We stopped by a really cute Russian restaurant near Brighton Beach for some pelmeni with sour cream and then walked along the Boardwalk by the sea. All the attractions and food stands were obviously closed but it was still so beautiful and relaxing and the perfect way to spend one of my last days in New York. I’ll miss this place.

+post-images
    +image("new-york-travel-blog/coneyisland8.jpg")
    +image("new-york-travel-blog/coneyisland5.jpg")
    +image("new-york-travel-blog/coneyisland4.jpg").o-image--full
    +image("new-york-travel-blog/coneyisland7.jpg").o-image--full
    +image("new-york-travel-blog/coneyisland3.jpg")
    +image("new-york-travel-blog/coneyisland2.jpg")
    +image("new-york-travel-blog/coneyisland6.jpg")
    +image("new-york-travel-blog/coneyisland12.jpg")
    +image("new-york-travel-blog/coneyisland9.jpg")
    +image("new-york-travel-blog/coneyisland10.jpg")
    +image("new-york-travel-blog/coneyisland11.jpg")

+post("Six week recap", "2015-03-15")
    p It’s been six weeks now and I’m flying back home on Wednesday. I have to keep reminding myself that this wasn’t just a holiday and that I’m not just going to return back to my old life. I’m moving back to Berlin and my life is going to be #[em very] different. But I really needed this break. I don’t think I ever spent more than three weeks away from Berlin since I moved there five years ago. I needed being able to live for the moment, taking in a new place and the uncertainty that comes with it. When I first got here I had a pretty hard time dealing with the travel pressure. I was in fucking #[em New York], staying at home felt like a waste of time. I received so many messages from friends asking how I was doing and I felt like I owed them updates and Instagram photos.

    p There were so many things out there that I hadn’t seen and so many things to do. At times I was so overwhelmed I didn’t even know where to start and spent the whole day in bed instead. If you only have a week in a big city like that and want to squeeze in as much sightseeing as possible, you’re probably up early every day and on your feet for at least 12 hours, doing as much as you possibly can. But if you live somewhere for several weeks, doing normal everyday life stuff becomes inevitable. And living a more or less normal life here is a lot of fun. I cooked #[em a lot] of good food, went for midnight walks in the snow, went out to bars and nursed my hangover with sushi and pizza, had breakfast and coffee at neighbourhood cafés and occasionally got frustrated by the usual daily chores and errands.

    p And I never thought I would ever say this but yes, I’m actually really looking forward to getting back to Berlin!

+post-images
    +image("new-york-travel-blog/aloha.jpg")

+post("Bronx Zoo", "2015-03-12")
    p When I was a child we went to the zoo a lot but as I got older, I kind of lost interest and I hadn’t really been to a zoo in about a decade. So when the weather forecast predicted 16°C (like, about 30 degrees warmer than only a few weeks ago!), we decided to check out the #[+a("http://bronxzoo.com/") Bronx Zoo], which is free in Winter season by the way. I had an amazing day with good weather, lots of walking around outside and got to see some of my favourties (Red pandas! Otters!). But aside from that, it was still mostly sad animals in very small spaces with handpainted backdrops.

+post-images
    +image("new-york-travel-blog/zoo1.jpg")
    +image("new-york-travel-blog/zoo3.jpg")
    +image("new-york-travel-blog/zoo2.jpg")
    +image("new-york-travel-blog/zoo4.jpg")
    +image("new-york-travel-blog/zoo6.jpg")
    +image("new-york-travel-blog/zoo5.jpg")


+post("Random snapshots, part 2", "2015-03-07")
    p Got snowed in, did quite a bit of walking, went out to a jazz club, had drinks at The Stonewall Inn on Christopher Street and spent #[em a lot] of time curled up in bed with sushi, thai food and pizza. Only 12 days left and I slowly need to prepare for leaving New York City and going back to Berlin.

+post-images
    +image("new-york-travel-blog/centralpark1.jpg")
    +image("new-york-travel-blog/city.jpg")
    +image("new-york-travel-blog/chinatown.jpg")
    +image("new-york-travel-blog/snow.jpg")

+post("Lobsters & Street Art", "2015-02-27")
    p Today I somehow ended up back in Chinatown and had my first #[em real] lobster! (The lobster sauce from my favourite dish at #[+a("http://www.schwarzescafe-berlin.de/") Schwarzes Café] in Berlin doesn’t count.) It was surprisingly good. I also saw some more of lower Manhattan and came across lots of pretty buildings.

+post-images
    +image("new-york-travel-blog/lobster.jpg")
    +image("new-york-travel-blog/streetart1.jpg")
    +image("new-york-travel-blog/houses.jpg")
    +image("new-york-travel-blog/streetart2.jpg")
    +image("new-york-travel-blog/streetart4.jpg")

+post("On top", "2015-02-24")
    p I have to admit, New York City #[em is] quite beautiful. I’ve been looking forward to the skyscraper experience since I got here and the view did not disappoint.

    h3.a-heading-3 Today I...

    p ■ woke up late feeling surprisingly motivated and positive ■ went out to Manhattan again ■ had a burger, cheese fries and beer for lunch at #[+a("https://www.shakeshack.com/") Shake Shack] ■ almost got so cold that I wanted to go back home again ■ discovered the magic of 99¢ pocket warmers from Duane Reade ■ went up 70 floors to the #[+a("http://www.topoftherocknyc.com/") Top of the Rock] at Rockefeller Center ■ realised that it was the first time I spent money on entertainment in three weeks – everything else was free (except the $10 for some shitty club but whatever) ■ arrived upstairs just in time for the beautiful sunset over NYC and had the best 360° view ever ■ will cook something nice for dinner and curl up in the warm bed

+post-images
    +image("new-york-travel-blog/topoftherock1.jpg")
    +image("new-york-travel-blog/burger.jpg")
    +image("new-york-travel-blog/flag.jpg")
    +image("new-york-travel-blog/topoftherock.jpg")
    +image("new-york-travel-blog/topoftherock2.jpg")
    +image("new-york-travel-blog/topoftherock4.jpg")
    +image("new-york-travel-blog/topoftherock3.jpg")

+post("Random Snapshots", "2015-02-23")
    p Some random photos including yesterday’s walk around snowy northern Brooklyn. Ended up in a cute boardgame shop and discovered the magic of staying in on a Saturday night, drinking nice beer and playing card games. Welcome to my glamourous life in NYC!

+post-images
    +image("new-york-travel-blog/random2.jpg")
    +image("new-york-travel-blog/random4.jpg")
    +image("new-york-travel-blog/random3.jpg").o-image--full
    +image("new-york-travel-blog/random5.jpg")
    +image("new-york-travel-blog/random6.jpg")

+post("Chinatown", "2015-02-16")
    p Today I met up with my friend Irina and we tried our best to ignore the cold (-10°C!), walked through Chinatown, had amazing $3 dumplings (you get a full plate of 10 dumplings with spicy sauce!), tried weird snacks and walked over to the East Village for some coffee and shopping.

+post-images
    +image("new-york-travel-blog/chinatown1.jpg")
    +image("new-york-travel-blog/chinatown3.jpg")
    +image("new-york-travel-blog/chinatown2.jpg")
    +image("new-york-travel-blog/chinatown4.jpg")
    +image("new-york-travel-blog/chinatown6.jpg")
    +image("new-york-travel-blog/chinatown7.jpg")

+post("Bridges & Burgers", "2015-02-15")
    p Another day of walking around exploring the city, wrapped in my fluffly leopard coat. I realised how much I love city skylines with tall buildings – and how useless I am at posing for photos.

    h3.a-heading-3 Today I...

    p ■ walked across Brooklyn Bridge (amazing view!) ■ saw #[em way] too many tourists with selfie sticks (I’m afraid those things will be socially acceptable one day) ■ crossed snowy Central Park again ■ had late lunch at an American diner ■ tried my first ice cream soda (definitely takes getting used to) and had a nice big burger with avocado and bacon ■ was quite shocked how seriously people take Valentine’s Day over here (including the massive kiss cam on Times Square and cheesy music, ugh) ■ enjoyed the snow ■ walked through Times Square again ■ will spend tonight drinking cider and watching trashy television

+post-images
    +image("new-york-travel-blog/brooklynbridge1.jpg")
    +image("new-york-travel-blog/brooklynbridge4.jpg")
    +image("new-york-travel-blog/diner1.jpg")
    +image("new-york-travel-blog/diner2.jpg")
    +image("new-york-travel-blog/timessquare1.jpg").o-image--full
    +image("new-york-travel-blog/timessquare2.jpg").o-image--full
    +image("new-york-travel-blog/timessquare3.jpg").o-image--full

+post("Friday the 13th", "2015-02-14")
    p Even before I arrived in New York, I knew I was going to get a tattoo over here. I still #[em love] getting tattoed and it’s just the perfect memory of a trip like this that marks such an important change in my life. A lot of studios were offering special Friday the 13th tattoos (that were mostly Valentine’s Day designs with a twist) and I found a #[+a("http://www.bigbangink.com/") nice place] just around the corner. So here’s the new addition to the family.

+post-images
    +image("new-york-travel-blog/tattoo1.jpg")
    +image("new-york-travel-blog/tattoo2.jpg")

+post("#tourist", "2015-02-11")
    p A few snapshots from Manhattan. Walked 50 blocks all the way up to Central Park yesterday. It was nice and sunny and we got approached (and harassed) by several squirrels.

+post-images
    +image("new-york-travel-blog/manhattan2.jpg")
    +image("new-york-travel-blog/manhattan1.jpg")
    +image("new-york-travel-blog/manhattan3.jpg")

+post("Out and about", "2015-02-10")
    p I can’t believe I’ve been here for a week already. Today I’m up early and we’re gonna wander around Manhattan some more. I haven’t really seen many of the sights or the touristy New York and it’s fine, I prefer the “normal” stuff to the over the top tourist attractions anyway. But after a week of relaxing and mostly hanging out in Brooklyn (and doing things that were a #[em tiny] bit too similar to my everyday life in Berlin), I’m ready for something a little different.

    h3.a-heading-3 This week and yesterday I...

    p ■ went to a friend’s exhibition (with free PBR – hipster stereotype: check) ■ discovered my new favourite neighbourhood supermarket ■ fixed the bed and felt like MacGyver ■ bought lots of interesting American drinks ■ wrote a blog about #[+a(url + "/blog/die-zukunft-ist-da") my future] and thoughts on life and work ■ went to a house party in Bushwick and ended up in a few bars and clubs I don’t really remember ■ realised the bed was still broken ■ went to a #[em huge] shopping mall in Queens ■ went to Walmart (and seriously wondered why I was more excited about this than about – let’s say – seeing the Statue of Liberty) ■ got stuck on a train ■ had amazing burritos

+post-images
    +image("new-york-travel-blog/winter2.jpg")
    +image("new-york-travel-blog/winter1.jpg")

+post("Settling in", "2015-02-06")
    p I’m slowly starting to feel at home. There’s still so much to explore and it’s quite overwhelming but I keep reminding myself that I’m gonna be here for six more weeks and there’s no need to feel guilty for spending a day inside and snuggled up in bed. After all, this was the plan: find a place that’s as liveable as possible and just #[em live there].

    h3.a-heading-3 Yesterday I...

    p ■ had coffee and walked around West Village ■ walked along the High Line for a bit (only lasted for about 15 minutes, though, it was too cold) ■ ended up in a sleazy bar where I had my first beer since arriving in NY ■ almost walked into a different pub but changed my mind when I realised the signs were all in German and it was “German themed” ■ had amazing sandwiches ■ ended the day in bed with beer, guacamole chips and “Dog The Bounty Hunter” (don’t judge)

+post-images
    +image("new-york-travel-blog/apartment2.jpg")
    +image("new-york-travel-blog/highline.jpg")
    +image("new-york-travel-blog/bar.jpg")
    +image("new-york-travel-blog/light.jpg")
    +image("new-york-travel-blog/street.jpg")
    +image("new-york-travel-blog/dog.jpg")

+post("Hello, NYC!", "2015-02-04")
    p I’m here! I arrived safely after blurry hours of slothing around on the plane with my laptop, listening to music and wrapped in a blanket with a steady supply of free food, water and alcohol. Nine hours without internet or any real connection to the outside world – and for the first time I was really able to think about what was going on. So many things have happened in the past few months and I knew I’d only realise this once the plane was up in the sky and I was leaving Berlin behind.

    p ■ woke up in a beautiful studio apartment in Brooklyn ■ discovered my new neighbourhood ■ went for long walks in the snow ■ ate my first American bagel (well, not sure how American but hey, I had a bagel #[em over here] – I hope my American friends are proud of me) ■ saw a little of Manhattan and walked through Times Square ■ found out the weather forecast is predicting -20°C for later this month (yeah, #[em minus]) ■ started taking photos with a disposable camera again ■ was quite proud of myself for getting a grasp of the public transport system so quickly ■ ordered the weirdest fake meat I’ve ever had in my life ■ will go to bed early enough and hopefully sleep off this weird semi-jetlag

+post-images
    +image("new-york-travel-blog/flight.jpg")
    +image("new-york-travel-blog/brooklyn.jpg")
    +image("new-york-travel-blog/bagel.jpg")
    +image("new-york-travel-blog/lights2.jpg")
    +image("new-york-travel-blog/lights.jpg")

+post("The beginning", "2015-02-01")
    p The past few months have been turbulent, exciting and brought a lot of changes to my life. I left my job at #[+a("http://www.exberliner.com/") Exberliner] after four years to take advantage of amazing new opportunities and finally become self-employed. I was blown away by the incredible support I got from everyone around me, the help that people offered me and how things just kind of fell into place as soon as I opened myself up for them. Don’t worry, I’m still not superstitious, my days of obsessing over self-help blogs are long gone and I couldn’t care less about #[em the universe]. But it did serve as reminder that somehow, everything will be ok in the end.</p>

    p Tomorrow I’m flying to New York City where I’m going to be living for a month and a half, exploring a new city in a new country, before returning to Berlin at the end of March to start a new chapter of my life. If you had told me this a year ago, I would have laughed at you.

    p To document my trip and collect memories, I have set up this little blog. I’m also open for New York suggestions – from food to going out to (maybe not so conventional) sightseeing.

+post-images
    +image("new-york-travel-blog/passport.jpg")
