include ../_includes/_mixins

p On Monday, we were invited to Oslo by #[+a("https://bakkenbaeck.com/") Bakken & Bæck] to talk about the #[+a("https://thestateofai.com") State of AI 2016] and share some of the ideas that inspire our work at #[+a("https://explosion.ai") Explosion AI]. Thanks to everyone involved for putting on the event, and thanks to all the people who showed up. We've had lots of fun and great conversations, and I can't wait to come back!

+h(2) Watch the talk

p You can watch the recording of the full talk on #[+a("https://livestream.com/accounts/11147584/events/6697317/player") Livestream]. We're first, followed by two great talks by Pia Ella Elmegård from #[+a("http://cortilabs.com") Cortilabs], and Lisa Mallner presenting #[+a("http://nordic.ai") Nordic AI], a new non-profit initiative to connect AI practitioners in the Nordics and beyond.

+embed("https://livestream.com/accounts/11147584/events/6697317/videos/142935160/player?width=640&height=360&enableInfo=false&defaultDrawer=&autoPlay=false&mute=false")

p For a collection of photos, impressions and tweets from the event, check out my #[+a("https://twitter.com/i/moments/803547906762559488") Twitter moment]. For easy viewing, we've also uploaded our slides to #[+a("http://www.slideshare.net/InesMontani/the-state-of-ai-2016") SlideShare].

+embed("https://www.slideshare.net/slideshow/embed_code/key/fjaKoRwY38jPiv")

+h(2) 48 hours in Oslo

p Before our talk, #[+a("http://www.meshnorway.com") MESH] was hosting a warm-up event for this year's #[+a("http://www.slush.org") SLUSH] conference — including a panel with Brian Armstrong, founder of digital currency startup #[+a("https://www.coinbase.com") Coinbase]; Tobias Bæck of Bakken & Bæck; and Crown Prince Haakon of Norway, an active patron of the local startup scene.

p It was interesting to get an insight into a small, close-knit community and the efforts made to support each other: a Crown Prince urging the conference goers to join the Norwegian Facebook group, followed by some very refreshing advice from Bakken & Bæck's #[+a("https://twitter.com/shewrote") Anne Worsøe]: Don't go to conferences, and if you do, don't just go for the sake of it. Be strategic about everything you do, with clear plans for what you're trying to achieve, and how.

+image("oslo_crownprince.jpg", "Crown Prince Haakon of Norway and Brian Armstrong, founder of Coinbase")

+image("oslo_poster.jpg")

p We also got to spend some time getting to know Oslo, walking around the city on a sunny day and stopping for food at a café and the market hall.

+image("oslo_sun.jpg", "Beautiful day in Oslo")

+image("oslo_sandwich.jpg", "Vegan lunch at Funky Fresh Foods")

+image("oslo_streetart.jpg", "Went for a walk and came across lots of cool street art")

+image("oslo_market.jpg", "The market hall right by our hotel")

+image("oslo_pinata.jpg", "We successfully made it through airport security with two large  piñatas!")
