include ../_includes/_mixins

p A collection of disposable camera memories between 2008 and 2012, between Cologne and Berlin, with visits several other places. I took a lot photos during that particular eventful, messy and not always easy time of my life. I had the time of my life, but I'm not sure I'd want to go back.

+image("the-early-years/analog2.jpg", false, "Analog photo")
+image("the-early-years/analog3.jpg", false, "Analog photo")
+image("the-early-years/analog1.jpg", false, "Analog photo")
+image("the-early-years/analog4.jpg", false, "Analog photo")
+image("the-early-years/analog21.jpg", false, "Analog photo")
+image("the-early-years/analog5.jpg", false, "Analog photo")
+image("the-early-years/analog6.jpg", false, "Analog photo")
+image("the-early-years/analog7.jpg", false, "Analog photo")
+image("the-early-years/analog8.jpg", false, "Analog photo")
+image("the-early-years/analog9.jpg", false, "Analog photo")
+image("the-early-years/analog10.jpg", false, "Analog photo")
+image("the-early-years/analog11.jpg", false, "Analog photo")
+image("the-early-years/analog12.jpg", false, "Analog photo")
+image("the-early-years/analog13.jpg", false, "Analog photo")
+image("the-early-years/analog14.jpg", false, "Analog photo")
+image("the-early-years/analog15.jpg", false, "Analog photo")
+image("the-early-years/analog16.jpg", false, "Analog photo")
+image("the-early-years/analog17.jpg", false, "Analog photo")
+image("the-early-years/analog18.jpg", false, "Analog photo")
+image("the-early-years/analog19.jpg", false, "Analog photo")
