include ../_includes/_mixins

p: em This post is part of a series of music interviews I did back when I was running an indie music website and going to gigs almost every other day. More than six years later, I discovered the texts in an old database backup, translated them to English and started publishing them, mostly for nostalgic reasons.

p The Drums from Brooklyn are to blame for that whistling melody you probably had stuck in your head forever last year [2009]: "#[em Let&apos;s Go Surfing]". Ever since then, the quartet have been on tour nonstop, celebrating their poppy tunes with a performance reminiscent of the late Ian Curtis. Their debut album will be released in June [2010] and will surely contain another summer hit or two. I met guitarist Jacob Graham before their show in Berlin.

+h(3) How are you today?

p #[strong Jacob:] Very good! We got here straight from Barcelona, where we played at Primavera Sound Festival. I'm still a bit woozy, but that's it. Things have been pretty crazy lately. We were on tour with Florence And The Machine, then played a few of our own shows, then some more festivals and now we're here in Berlin. But it is a little depressing to come here after all the nice weather in Spain.

+h(3) Your soungs always sound so happy and positive but they're not at all about summer and sunshine...

p We're all pretty negative and unhappy by nature. (laughs) So that's why our lyrics are all pretty negative as well. But we try to counteract that using the music. It's much more interesting if the songs sound positive but they lyrics say something completely different. There are just too many mopey guys with acoustic guitars.

+h(3) Isn't it a bit weird then if people are dancing and partying to your songs?

p Yeah, kind of. But the good thing is that you can hear our songs at a party and dance to them, and then you can go home, listen to the lyrics and be depressed with us.

+h(3) You once said in an interview that you guys wanted to form the "ideal band". What does that mean to you?

p I don't know, but I always think a band should try to write the best songs possible and do a good show. And have an interesting look that fits to the music.

+h(3) So the look is particularly important to you?

p Our look, what we wear and how we look for photo shoots is just as important to us as, for example, an album cover. It's the same. We want our band to have a complete overall look. So many bands these days don't actually look like a real band, they just look like four guys who randomly stand around somewhere. On the other hand, take a band like The Ramones... you look at them and you know, that's The Ramones. And I think The Ramones actually took themselves very seriously. Just because you also try to #[em look] like a band doesn't mean that you spend less time thinking about the music.

+h(3) Does this come naturally to you or do you have to specifically go shopping together?

p No, thank god, this is relatively easy. We all pretty much like the sme stuff and go shopping at the same stores. Whenever we're on tour and we have a day off, we usually go shopping together. But that's because we just happen to hang out together anyways. We're not completely fixated on our looks either, but if it's for a photo shoot, we definitely think about it. At the moment, I'm really into college shirts and saddle shoes. (points at his shoes)

+h(3) How much time do you usually take to get ready in the morning?

p Oh, that's pretty quick, we're not that vain. We put on some clothes and that's it. We normally don't smell that good either. We used to share socks, until we were running low and everyone started to hoard socks. Socks are always the biggest problem on tour.

+h(3) What was your favourite place that you visited on tour?

p I'd say Glasgow. It's just a great place and many of our favourite bands are from there, like Orange Juice, The Wake or The Pastels. We've played there twice or three times so far. At our first show, the girls from Camera Obscura, also one of our favourite bands, came on stage and performed a song with us. That was like a dream come true.

p The second time we were there, we had a day off and hung out at Stephen Pastel's record store. We asked the people working there if there was anything going on that night and they invited us to their band's gig in the basement across the street. When we met them again that night, we were like "Hey, we're really looking forward to the show!" and they were like, "Well, actually, the gig is cancelled because our singer got really sick, but don't you guys wanna play?" And we were like, sure! It's a lot of fun playing those kinds of gigs because they're more like a party and not as big as the shows on our current tour for example.

+h(3) There's one question question we always ask every band: If you had to choose the cause for a big demonstration – what would you protest against?

p I got something! Yesterday, Adam and I were out at the beach and there was a type of pier where people hung out and fishing and stuff. Right before the gate there was a very small sign with a crossed out person, that probably meant that you weren't supposed to go there. And we decided to make signs to protest against this sign. Because nobody cared about this sign anyways. I would also protest against shutting down BBC 6. It's the best radio station, so rise up and protest with me!

+divider

p #[strong Update (June 2016):] In September 2011, The Drums released their second studio album, "#[em Portamento]". After an almost-breakup and drummer Connor Hanwick leaving the band, founding members Jonathan Pierce and Jacob Graham got back together and recorded their third album, "#[em Encyclopedia]", released in September 2014.
