include ../_includes/_mixins

p: em This post is part of a series of music interviews I did back when I was running an indie music website and going to gigs almost every other day. More than six years later, I discovered the texts in an old database backup, translated them to English and started publishing them, mostly for nostalgic reasons.

p They are Art Brut's favourite band for a reason. #[+a("http://www.indelicates.com/") The Indelicates] have everything that a modern rock band needs: they're smart, witty and not afraid to stand out. After their ironic but controversial online hit "Waiting for Pete Doherty To Die", they've finally signed their long-awaired record deal and will be releasing their debut album in March 2008. I met Simon and Julia, who is half Austrian, before their show in Cologne and we talked about their tour with Art Brut, singing karaoke at the Reeperbahn in Hamburg and the torments of being 16.

+h(3) You've been on tour with Art Brut for about a week now. How is it going?

p #[strong Julia:] Very good! We're all good friends and have known each other for a very long time and it's very nice to be on the road with people you get along so well.
p #[strong Simon:] Eddie [Argos, singer of Art Brut] is going on stage with us tonight to perform our song "New Art For The People" with us.
p #[strong Julia:] It's probably happening today, but it really depends on how he's feeling. He has a pretty bad hangover from last night. We were in Hamburg, went out to a karaoke bar and sung songs like "Do They Know It's Christmas". I also sang the Backstreet Boys and "The House Of The Rising Sun". John Otway made great version of this song with a question and answer part. He sings "There is..." and then "What?" and then "A house!" ... "Where?" ... "Down in New Orleans!" (laughs) It was a good night, we really like Hamburg.

+h(3) Your songs are often pretty cynical and ironic – does it ever happen to your that people don't get it and feel offended?

p #[strong Simon:] Not in Germany, but in England. People there ask us things like "Why do you want to kill Pete Doherty?"
p #[strong Julia:] It's very different over here. When we played here in February, the people were more like, "Of course you don't want to kill Pete Doherty! Why would you?" How is it that you guys here understand the songs and the English don't? We get a lot of hate mail from people in England because of this.

+h(3) The problems with the music industry are also recurring themes of your lyrics. If you could change anything about how the business works, what would you do differently?

p #[strong Simon:] A lot worse than the music industry are actually the people who fall for it. The industry is just an industry, it's always been like that and it will always stay that way. The problem is the kids who fall for it and believe in myths created by selfish people. You get what you deserve and I think educating people makes a lot more sense here. I would like to change a lot of things, especially the people who are unhappy. If you're happy, it's all cool but it's often very onesided and people are exploited.
p #[strong Julia:] It's definitely more of a problem with people than a problem with the industry. The music industry just does what every industry does: it takes what it can get and tries to make the most our of it.

+image("theindelicates2.jpg", "Single artworks for Sixteen, America and Julia, We Don't Live In The '60s")

+h(3) Your new single "Sixteen" is released on Monday. The cover shows the two of you, dressed up as old people who could be your own grandparents. How was it to shoot that?
p #[strong Julia:] Painful. We had a layer of plastic on our faces to make it look wrinkly. It didn't really work for me so they had to paint over it and the plastic got stuck to everything.

+h(3) Are you afraid of getting old?

p #[strong Julia:] Me? No. I enjoy getting older and I'm happy, that I'm not 16 anymore. Really. I hated being 16, it was the worst thing in the world. I also hated being 18 and when I finally turned 21, I was so excited because all of a sudden, there were so many things I could do and I learned a lot. As a teenager, I wasn't very confident and it was pretty tough. Now I'm an adult and it's a much better feeling because I can do whatever I want.

+h(3) Is there anything you definitely want to achieve before you get old?

p #[strong Julia:] I'd like to have kids. Okay, that probably sounds really stupid now but I think I would be a pretty good mum. Of course my parents were also good parents but I think, I owe it to the world to have a better child than I was. (laughs)

+h(3) You started a project called "Versions" where you encourage fans and other artists to cover or remix your songs. What was the most interesting submission you've received so far?

p #[strong Simon:] A barbershop version of "Sixteen".
p #[strong Julia:] That one's really great! This is the second round of the Versions project and we've received pretty incredible songs. Especially this time, people just made a lot of noise. (laughs) It's also very cool how many people responded. In England, a lot of people are usually like "Uhm yeah, maybe I'll do something..." and then they don't.

+h(3) In August, you signed your official record deal and on your homepage you jokingly wrote that your fans will probably think you're "too mainstream" now.

p #[strong Julia:] (laughs) Yeah, this really happens, but mainly in the real indie circles. When you record an album version of a song for example, a lot of people will say things like "Well, I prefer the demo version. It's a much better version of the song." I mean, it's not like we destroyed the demo. It's still available on the internet, you can still download it and nobody forces you to listen to the other version. People can be so close minded about that stuff.

+h(3) Your song "Julia, We Don't Live In The '60s" is a dig at protest culture. Are you going to demonstrations?
p #[strong Julia:] I've been to countless demonstrations because I often take photos there. I mainly take photos of children because they are often overlooked. Many people go to protests and have no idea what they're actually doing there. One of the biggest demonstrations I've been to was attended by around 20,000 people and I looked around and realised that most of the people weren't actually there for the protest but the protest experience. Things have changed a lot. Nowadays, you can go to demonstrations even if you don't actually care what it's about, but if there's really something that you seriously want to protest against, it's much harder. I have the impression that this is a bit different in Germany, though. Or in Austria. They once had a demonstration against Haider and it was impressive how many different people showed up: from grandmas to students to businessmen, all in the same spot. I've never seen anything like that in England.

+h(3) If you had to choose, what would you start a demonstration against?

p #[strong Julia:] I think the situation in Burma at the moment [the Saffron Revolution of 2007] would be a good topic.
p #[strong Simon:] I haven't been near a newspaper in about a week so I don't really know how this developed. Maybe they have peace now. I really hope so, but it's still a really important issue. If you protest, you should always side with the truth. The main idea is that people should be free, everything else is secondary.

+divider

p #[strong Update (October 2015):] Following their debut "American Demo" in 2008, The Indelicates have released three more records and three books. Their fifth album "Elevator Music", which was crowdfunded, will be released in November. It also comes with a pretty fascinating interactive #[+a("https://www.youtube.com/watch?v=1yQ5rsu8eP4") 360 degree spherical video].
