include ../_includes/_mixins

p For the January issue of #[+a("http://www.exberliner.com") Exberliner] I met Dirk von Lowtzow and Jan Müller of Tocotronic for an interview in the Whiskey Room of Michelberger Hotel. They told me why the Hamburg School is only a made-up journalist myth and what makes it so hard to write lyrics in German.
