include ../_includes/_mixins

p For #[+a("http://www.exberliner.com") Exberliner] I tried to explain the weirdness, embarrassments and curiosities of German music. Especially one phenomenon: Helene Fischer. Who is this woman who was dubbed “the Britney Spears of German Schlager”, who performed on stage for the German national team at their controversial victory party in front of the Brandenburg Gate and who sold over five million records in the past 10 years? How do you explain the insane success of “Atemlos durch die Nacht” (breathless through the night), a song that’s disgustingly cheesy and yet so catchy that just writing about it leaves me with an Ohrwurm for weeks?
